<% title 'LightBox | Help' %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
</head>
<body>


<header class="navbar">
      <div class="container">
          <div class="text-center">
        <nav>
          <ul class="nav navbar-nav">
            <li><a href="#"><b>Find developers</b></a></li>
 			<li><a href="#"><b>Find projects</b></a></li>
 			<li><a href="#"><b>Sign up</b></a></li>

          </ul>
           <nav>
             <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><b>Log in</b></a></li>
          <li><a href="/home"><b>Home</b></a></li>

          </ul>
          </nav>
        </nav>
        </div>
        
      </div>
    </header>
<div class="jumbotron text-center">
  <h1>Help Center</h1>

</div>
<div class="container">

<div class="row">

<h1 class="text-center" style="font-style: bold;">Frequently Ask Questions (FAQ)</h1>
    <div class="col-lg-4 col-lg-offset-4 menu_simple">
      <ul>
      <li><a href="#" style="font-size: 20px"><b>Using LightBox</b></a></li>
        <li><a href="#">Using LightBox In Companies</a></li>
        <li><a href="#">Your LightBox Account</a></li>
        <li><a href="#">Register On A Project</a></li>
        <li><a href="#">Support & Troubleshooting</a></li>
      
</ul>

    
    </div>


</div>
</div>


    <footer class="text-center">
    <div class="page-header" style="margin-top: 50px; margin-right: 200px; margin-left: 200px; margin-bottom: 0;"></div>
    <ul class="list-inline" style="margin-top: 0px;">
      <li role="presentation" class="active"><a href="#">About Us</a></li>
      <li role="presentation" class="qctive"><a href="#">Find Us</a></li>
      <li><a href="#">Contact Us</a></li>
      
  </ul>
    </footer>


</body>
</html>