<% title "LightBox | Login" %>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title) %></title>
</head>
<body>
<header class="navbar">
      <div class="container">
          <div class="text-center">
        <nav>
          <ul class="nav navbar-nav">
            <li><a href="#"><b>Find developers</b></a></li>
 			<li><a href="#"><b>Find projects</b></a></li>
 			<li><a href="#"><b>Sign up</b></a></li>

          </ul>
           <nav>
             <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><b>Log in</b></a></li>
          <li><a href="/home"><b>Home</b></a></li>

          </ul>
          </nav>
        </nav>
        </div>
        
      </div>
    </header>
<div class="container">
<div class="row">


</div>
</body>
</html>