/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	@import "bootstrap-sprockets";
	@import "bootstrap";

body{
	background-color: #EEEEEE;
	}
	.col-lg-4{
	margin-bottom: 10px;
	}
	.nav{
		color: #acc;
		box-shadow: 0 0 40px green;
	}
	.navbar{
	background: white;
	}

	h2{
	color: #000000;
	}
	footer{
	background: #FFFFFF;
	height: 100px;
	}
	.list-inline{
	padding-top: 40px;
	color: black;
	font-size: 20px;
	font-style: bold;
	}
	.list-inline > li > a{
	color: black;

	}
	.list-inline > li > a:hover{
	box-shadow: 0 0 40px green;
	color: green;

	}
	.jumbotron{
		background: url("lightbox.png") repeat;
		height: 350px;
		color: #FFFFFF;
	}
	img{
	 box-shadow: 0 0 20px black;
	}
	a > img:hover{
	 box-shadow: 0 0 40px green;
	}

.menu_simple ul {
    margin: 0; 
    padding: 0;
    width: auto;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    color: #F44336; 
    padding: 14.5px 12px;
    display: block;
    font-size: 20px;
    font-style: bold;
}
 
.menu_simple ul li a:visited {
    color: #F44336;
}
 
.menu_simple ul li a:hover,
 .menu_simple ul li .current {
    color: #000000;
    box-shadow: 0 0 40px green;
    
}